.u-section-1 {
  background-image: url("images/bg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 740px;
}

.u-section-1 .u-image-1 {
  width: 740px;
  left: 0;
  right: auto;
}

.u-section-1 .u-group-1 {
  width: 465px;
  min-height: 740px;
  margin: 0 40px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 45px 0;
}

.u-section-1 .u-image-2 {
  width: 270px;
  height: 336px;
  margin: 155px auto 0 236px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -403px 0 0;
}

.u-section-1 .u-image-3 {
  width: 475px;
  height: 257px;
  margin: -306px 272px 49px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1 .u-image-1 {
    width: 578px;
  }

  .u-section-1 .u-group-1 {
    width: 446px;
  }

  .u-section-1 .u-image-2 {
    width: 220px;
    height: 294px;
    margin-top: 145px;
    margin-right: -140px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -368px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-1 .u-image-1 {
    width: 428px;
    height: 677px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 0;
  }

  .u-section-1 .u-group-1 {
    width: 400px;
    margin-top: -677px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 295px;
    margin-top: 161px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -369px;
  }

  .u-section-1 .u-image-3 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 378px;
    height: 488px;
  }

  .u-section-1 .u-group-1 {
    width: 422px;
    min-height: 461px;
    margin-top: -209px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 53px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -348px;
  }

  .u-section-1 .u-image-3 {
    width: 270px;
    height: 173px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 439px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -160px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 880px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  min-height: 631px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-gap: 10px 10px;
  height: auto;
  margin: 38px 0 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 298px;
  min-height: 228px;
  height: auto;
  margin: -65px -42px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 20px 20px 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 298px;
  min-height: 228px;
  background-size: auto;
  height: auto;
  margin: -65px -42px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 20px 20px 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 298px;
  min-height: 228px;
  background-size: auto;
  height: auto;
  margin: -65px -42px 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 20px 20px 30px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-4 {
  width: 298px;
  min-height: 228px;
  background-size: auto;
  height: auto;
  margin: -65px -42px 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 20px 20px 30px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-10 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-5 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-5 {
  width: 298px;
  min-height: 228px;
  background-size: auto;
  height: auto;
  margin: -65px -42px 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 0 20px 20px 30px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-12 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-6 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-6 {
  width: 298px;
  min-height: 228px;
  background-size: auto;
  height: auto;
  margin: -65px -42px 0 auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 0 20px 20px 30px;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-14 {
  font-size: 0.75rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-2 .u-list-1 {
    min-height: 520px;
    grid-template-columns: repeat(3, calc(33.3333% - 7px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
  }

  .u-section-2 .u-group-2 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
  }

  .u-section-2 .u-group-3 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
  }

  .u-section-2 .u-group-4 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
  }

  .u-section-2 .u-group-5 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 20px;
  }

  .u-section-2 .u-group-6 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-2 .u-list-1 {
    min-height: 702px;
    grid-template-columns: repeat(2, calc((100% - 720px) / 2 + 355px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-2 .u-group-2 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-2 .u-group-3 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-2 .u-group-4 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-2 .u-group-5 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-2 .u-group-6 {
    width: 243px;
    min-height: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 443px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 443px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 443px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-4 {
    width: 443px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-5 {
    width: 443px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-6 {
    width: 443px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 235px;
  }

  .u-section-2 .u-group-2 {
    width: 235px;
  }

  .u-section-2 .u-group-3 {
    width: 235px;
  }

  .u-section-2 .u-group-4 {
    width: 235px;
  }

  .u-section-2 .u-group-5 {
    width: 235px;
  }

  .u-section-2 .u-group-6 {
    width: 235px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 254px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 246px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 72px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 40px 0;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 428px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-form-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 209px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 203px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 59px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 353px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1372px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1333px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 233px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 15px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 151px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 147px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 9px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 63px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 618px;
}

.u-section-4 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 60px auto 0;
}

.u-section-4 .u-text-1 {
  width: 680px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-2 {
  width: 680px;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-4 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-4 .u-video-1 {
    height: 190px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-bottom: 60px;
  }
}